<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password reset</title>
</head>
<body>
    <h1>Password reset</h1>

    <form action="{% url 'loginapp:password_reset' %}" method="POST">
        {% comment %} makes sure the token is resubmitted when something is posted, to prevent cross site scripting {% endcomment %}
        {% csrf_token %}
        <label for="user">Username</label>
        <input type="text" name="user" id="user" placehoder="Username">
        <input type="submit" value="Submit">
    </form>

    
    {% comment %} error message if username/password is wrong, get it from views  {% endcomment %}
    {% if error %} 
        <p class="error"> {{ error }} </p> 
    {% endif %}
    
</body>
</html>
